.tip{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* background-color: hsl(183, 100%, 15%); */
}
.left{
    display: flex;
    flex-direction: column;
}
.left > h2, p{
    color: white;
}

.right > h2{
    color: hsl(184, 14%, 56%);
    font-size: 40px;
    font-weight: bolder;

}
