.haiya{
   
    padding: 15px 40px;
    background-color:  hsl(183, 100%, 15%);
    color: white;
    margin-top: 50%;
    border-radius: 10px;
    font-size: 20px;

}
/* .custom{
    background-color: white;
} */